In [1]:
import pandas as pd
import json
import re

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400 )
crowdfunding_data = pd.read_csv('backer_info.csv')
crowdfunding_data.head(10)

FileNotFoundError: [Errno 2] No such file or directory: 'backer_info.csv'

In [ ]:
# Iterate through the backers DataFrame and convert each row to a dictionary.
values_list = []
for index, row in crowdfunding_data.iterrows():
    data= row[0]
    converted_data = json.loads(data)
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    row_values =[value for key, value in converted_data.items()]
    # Append the list of values for each row to a list. 
    values_list.append(row_values)
# Print out the list of values for each row.
print(values_list[0])

['av166', 968, 'Angelo Vincent', 'avincent@live.com']

In [ ]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
df = pd.DataFrame(values_list, columns = ['backer_id','cf_id', 'name', 'email'])
df.head(10)

  backer_id  cf_id              name                  email
0     av166    968    Angelo Vincent      avincent@live.com
1     ha127    563     Hubert Arnold     harnold@yandex.com
2     lg794     65      Loris Goulet     lgoulet@yandex.com
3     tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506    563        Lexie Hunt         lhunt@live.com
5     lh382    563     Lambert Huber        lhuber@live.com
6     em444    563        Emmy Morin        emorin@live.com
7     at582   1572     Armonda Trani        atrani@live.com
8     id772   1911        Ilana Duke      iduke@outlook.com
9     lw275     65     Leigha Wright       lwright@live.com

In [ ]:
# Export the DataFrame as a CSV file using encoding='utf8'.
df.to_csv('backers_data.csv', encoding='utf8', index=False)

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [ ]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
regex_file = 'backer_info.csv'
regex_df = pd.read_csv(regex_file)
regex_df.head(10)

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
5           {"backer_id": "lh382", "cf_id": 563, "name": "Lambert Huber", "email": "lhuber@live.com"}
6              {"backer_id": "em444", "cf_id": 563, "name": "Emmy Morin", "email": "emorin@live.com"}
7          {"backer_id": "at582", "cf_id": 1572, "name": "Armonda Trani", "email": "atrani@live.com"}
8           {"backer_id": "id772", "cf_id": 1911, "name": "Ilana Duke", "email": "iduke@outlook.com"}
9           {"backer_id": "lw275", "cf_id": 65, "name": "Leigha Wright", "email": "lwright@live.com"}

In [ ]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

regex_df['backer_id'] = regex_df['backer_info'].str.extract(r'(\w{2}\d{3})')

regex_df

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506
...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535

In [ ]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
regex_df['cf_id'] = regex_df['backer_info'].str.extract(r'(\s\d{2,4})')

regex_df

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563
...,...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581,65
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637,563
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983,1114
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381,65
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535,65

In [ ]:
# Extract the name from the backer_info column and add it as a new column called "name".
regex_df['name'] = regex_df['backer_info'].str.extract(r'([\w]+\s[\w]{1,})')
regex_df

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt
...,...,...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581,65,Serita Thebault
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637,563,Glenn Foerstner
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983,1114,Robt Collin
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381,65,Corina Zappa
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535,65,Freeman Gibbs

In [ ]:
# Extract the email from the backer_info column and add it as a new column called "email".
regex_df['email'] = regex_df['backer_info'].str.extract(r'(\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b)')
regex_df

,backer_info,backer_id,cf_id,name,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold,harnold@yandex.com
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet,lgoulet@yandex.com
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli,tbrunelli@outlook.com
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt,lhunt@live.com
...,...,...,...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581,65,Serita Thebault,sthebault@yandex.com
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637,563,Glenn Foerstner,gfoerstner@yahoo.com
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983,1114,Robt Collin,rcollin@outlook.com
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381,65,Corina Zappa,czappa@outlook.com
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535,65,Freeman Gibbs,fgibbs@outlook.com

In [ ]:
# Create a new DataFrame with the appropriate columns.
clean_regex_df = regex_df[["backer_id", "cf_id", "name","email"]]
clean_regex_df.head()

  backer_id cf_id              name                  email
0     av166   968    Angelo Vincent      avincent@live.com
1     ha127   563     Hubert Arnold     harnold@yandex.com
2     lg794    65      Loris Goulet     lgoulet@yandex.com
3     tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506   563        Lexie Hunt         lhunt@live.com

In [ ]:
# Export the DataFrame as a CSV file using encoding='utf8'.
clean_regex_df.to_csv('Resources/backers_data_regex.csv', encoding='utf8', index=False)

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [ ]:
# Check data types.
clean_regex_df.dtypes

backer_id    object
cf_id        object
name         object
email        object
dtype: object

In [ ]:
# Convert cf_id to an integer if necessary.
clean_regex_df['cf_id'] =  clean_regex_df['cf_id'].astype(int)

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
clean_regex_df.dtypes

backer_id    object
cf_id         int64
name         object
email        object
dtype: object

In [ ]:
# Split the "name" column into "first_name" and "last_name" columns.
clean_regex_df[['first_name', 'last_name']] = clean_regex_df['name'].str.split(' ', expand=True)
clean_regex_df.head(10)

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt
5,lh382,563,Lambert Huber,lhuber@live.com,Lambert,Huber
6,em444,563,Emmy Morin,emorin@live.com,Emmy,Morin
7,at582,1572,Armonda Trani,atrani@live.com,Armonda,Trani
8,id772,1911,Ilana Duke,iduke@outlook.com,Ilana,Duke
9,lw275,65,Leigha Wright,lwright@live.com,Leigha,Wright

In [ ]:
#  Drop the name column
clean_regex_df = clean_regex_df.drop(columns=['name'])

# Reorder the columns
clean_regex_df = clean_regex_df[["backer_id", "cf_id", "first_name", "last_name", "email"]]
clean_regex_df.head(10)

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com
5     lh382    563    Lambert     Huber        lhuber@live.com
6     em444    563       Emmy     Morin        emorin@live.com
7     at582   1572    Armonda     Trani        atrani@live.com
8     id772   1911      Ilana      Duke      iduke@outlook.com
9     lw275     65     Leigha    Wright       lwright@live.com

In [ ]:
# Export the DataFrame as a CSV file using encoding='utf8'.
clean_regex_df.to_csv('Resources/backers.csv', encoding='utf8', index=False)